BAUPLAN_TEST_S3_PATH="s3://bucket/myfile.parquet"
OPENAI_API_KEY=sk-mykey
BAUPLAN_NAMESPACE=apo_multiverse
S3_TEST_READ_BUCKET=hello-world
S3_PREFIX=multiverse_test/user_predictions
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=wJalr...
AWS_DEFAULT_REGION=us-east-1
